<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Blank</title>
    <!-- Thymeleaf -->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/thymeleaf/3.0.12.RELEASE/thymeleaf.min.js"></script>-->
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Custom fonts for this template-->
    <link th:href="@{/bootstrap/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css" />
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/bootstrap/css/sb-admin-2.min.css}" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        /* 스마트폰 화면에서 버튼과 텍스트 크기 조절 */
        @media (max-width: 576px) {
            .btn-sm {
                padding: 0.25rem 0.5rem;
                font-size: 0.75rem;
            }
            .table th,
            .table td {
                font-size: 0.75rem;
            }
        }
    </style>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/lecture-room">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">ClassHub <sup style="font-size: 10px">hgu</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item" th:object="${lectureRoom}">
            <a class="nav-link" th:href="@{'/lecture-room/detail/' + ${lectureRoom.lectureRoomId}}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>대시보드</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading" th:object="${lectureRoom}">
            <span for="name" th:text="${lectureRoom.roomName}"></span>
        </div>

        <!-- Nav Item - 공지 -->
        <!--        <li class="nav-item">-->
        <!--            <a class="nav-link" href="index.html">-->
        <!--                <i class="fas fa-fw fa-chart-area"></i>-->
        <!--                <span>공지</span></a>-->
        <!--        </li>-->

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
               aria-controls="collapsePages">
                <i class="fas fa-fw fa-folder"></i>
                <span>태그 모음</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <div class="input-group mb-2" style="max-width: 180px; margin: 0 auto;">
                        <input type="text" class="form-control" placeholder="태그 검색" id="tagSearchInput">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="tagSearchButton">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div id="tagList">
                        <a class="collapse-item" th:href="@{'/data-detail/statistics/' + ${tag.tagId}}" th:each="tag : ${tags}" th:text="${tag.name}"></a>
                    </div>
                </div>
            </div>
        </li>

        <script>
            document.getElementById("tagSearchButton").addEventListener("click", function () {
                filterTags(document.getElementById('tagSearchInput').value.toUpperCase());
            });
            document.getElementById("tagSearchInput").addEventListener("keypress", function(event) {
                if (event.key === 'Enter') {
                    filterTags(document.getElementById('tagSearchInput').value.toUpperCase());
                }
            });

            function filterTags(filter) {
                var ul, li, a, i, txtValue;
                ul = document.getElementById("tagList");
                li = ul.getElementsByTagName('a');
                for (i = 0; i < li.length; i++) {
                    txtValue = li[i].textContent || li[i].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        li[i].style.display = "";
                    } else {
                        li[i].style.display = "none";
                    }
                }
            }

            // Show all tags by default
            filterTags('');
        </script>


        <!-- Nav Item - Charts -->
        <!--   ToDo: tagId로 연결해두기   -->
        <!--        <li class="nav-item">-->
        <!--            <a class="nav-link" th:href="@{'/data-detail/statistics/' + ${lectureRoom.lectureRoomId}}">-->
        <!--                <i class="fas fa-fw fa-chart-area"></i>-->
        <!--                <span>통계자료</span></a>-->
        <!--        </li>-->

        <!-- Nav Item - Tables -->
        <!--        <li class="nav-item">-->
        <!--            <a class="nav-link" href="index.html">-->
        <!--                <i class="fas fa-fw fa-table"></i>-->
        <!--                <span>Tables</span></a>-->
        <!--        </li>-->

        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading">
            설정
        </div>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-cog"></i>
                <span>설정</span>
            </a>
            <div id="collapseUtilities" class="collapse show" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded" th:object="${lectureRoom}">
                    <h6 class="collapse-header">수정</h6>
                    <a class="collapse-item" th:href="@{'/lecture-room/detail/info/' + ${lectureRoom.lectureRoomId}}">강의실 정보</a>
                    <a class="collapse-item active" th:href="@{'/lecture-room/member/info/' + ${lectureRoom.lectureRoomId}}">강의실 구성원 정보</a>
                </div>
            </div>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
<!--                <form th:action="@{/lecture-room}" method="get" class="form-inline mr-auto w-100 navbar-search">-->
<!--                    <div class="input-group w-50">-->
<!--                        <input type="text" name="searchKeyword" th:value="${param.searchKeyword}"-->
<!--                               class="form-control bg-light border-0 small"-->
<!--                               placeholder="Search for..." aria-label="Search"-->
<!--                               aria-describedby="basic-addon2">-->
<!--                        <div class="input-group-append">-->
<!--                            <button type="submit" class="btn btn-primary">-->
<!--                                <i class="fas fa-search fa-sm"></i>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Nav Item - Alerts -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"></i>
                            <!-- Counter - Alerts -->
                            <span class="badge badge-danger badge-counter">3+</span>
                        </a>
                        <!-- Dropdown - Alerts -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="alertsDropdown">
                            <h6 class="dropdown-header">
                                알림
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-primary">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 12, 2019</div>
                                    <span class="font-weight-bold">와랩에 입장하신 것을 환영합니다.</span>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-success">
                                        <i class="fas fa-donate text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 7, 2019</div>
                                    데이터구조 수업에서 중간고사 성적이 공지되었습니다.
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-warning">
                                        <i class="fas fa-exclamation-triangle text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 2, 2019</div>
                                    실전프로젝트 수업에서 과제가 공지되었습니다.
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">모든 알림 보기</a>
                        </div>
                    </li>


                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">이한나학부생</span>
                            <img class="img-profile rounded-circle"
                                 src="/bootstrap/img/undraw_profile.svg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#lectureRoomOutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                강의실 나가기
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                로그아웃
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <script>
                $(document).ready(function(){
                    $('#filterInput').on('keyup', function(){
                        var searchText = $(this).val().toLowerCase();
                        $('tbody tr').each(function(){
                            var name = $(this).find('td:eq(1)').text().toLowerCase();
                            var studentId = $(this).find('td:eq(2)').text().toLowerCase();
                            if(name.includes(searchText) || studentId.includes(searchText)){
                                $(this).show();
                            } else {
                                $(this).hide();
                            }
                        });
                    });
                });

                $(document).ready(function(){
                    $('.dropdown-menu a').on('click', function(){
                        var text = $(this).text();
                        $(this).closest('.dropdown').find('button').text(text);
                    });
                    // 역할 필터링
                    $('.role-filter').on('click', function(){
                        var selectedRole = $(this).data('role');
                        $('tbody tr').each(function(){
                            var role = $(this).find('.role-select').val();
                            if(selectedRole === '' || role === selectedRole){
                                $(this).show();
                            } else {
                                $(this).hide();
                            }
                        });
                    });

                    // 권한 필터링
                    $('.permission-filter').on('click', function(){
                        var selectedPermission = $(this).data('permission');
                        $('tbody tr').each(function(){
                            var permission = $(this).find('.permission-select').val();
                            if(selectedPermission === '' || permission === selectedPermission){
                                $(this).show();
                            } else {
                                $(this).hide();
                            }
                        });
                    });
                });

                // Sort
                $(document).ready(function(){
                    $('#sortable-table th').each(function (column) {
                        $(this).click(function() {
                            if($(this).is('.asc')) {
                                $(this).removeClass('asc');
                                $(this).addClass('desc');
                                sortdir=-1;

                            } else {
                                $(this).addClass('asc');
                                $(this).removeClass('desc'); sortdir=1;
                            }

                            $(this).siblings().removeClass('asc');
                            $(this).siblings().removeClass('desc');

                            var rec = $('#sortable-table').find('tbody>tr').get();

                            rec.sort(function (a, b) {
                                var val1 = $(a).children('td').eq(column).text().toUpperCase();
                                var val2 = $(b).children('td').eq(column).text().toUpperCase();
                                return (val1 < val2)?-sortdir:(val1>val2)?sortdir:0;
                            });

                            $.each(rec, function(index, row) {
                                $('#sortable-table tbody').append(row);
                            });
                        });
                    });
                });
            </script>
            <!-- 페이지 내용 시작 -->
            <div class="container-fluid">
                <div class="row justify-content-center">
                <!-- 페이지 제목 -->
                <div class="table-responsive" style="width: 75%">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="filterInput" placeholder="이름, 학번 검색" style="max-width: 400px;">
                        <div class="input-group-append ml-auto">
                            <button class="btn btn-primary" type="button" id="addItemButton" style="border-radius: 10px; background: #2e59d9; border-color: #2e59d9"> 학생 추가 </button>
                        </div>
                    </div>
                    <table id="sortable-table" class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col" style="cursor: pointer; width: 8%">번호 <i class="fa fa-sort ml-2" style="font-size: smaller;"></i> </th>
                            <th scope="col" style="cursor: pointer; width: 11%">이름 <i class="fa fa-sort ml-2" style="font-size: smaller;"></i> </th>
                            <th scope="col" style="cursor: pointer; width: 13%">학번 <i class="fa fa-sort ml-2" style="font-size: smaller;"></i> </th>
                            <th scope="col" class="d-none d-sm-table-cell" style="cursor: pointer; width: 16%">이메일 <i class="fa fa-sort ml-2" style="font-size: smaller;"></i> </th>
                            <th scope="col" style="cursor: pointer; width: 9%">등록일 <i class="fa fa-sort ml-2" style="font-size: smaller;"></i> </th>
                            <th scope="col" style="width: 16%">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="roleDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        역할
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="roleDropdown">
                                        <a class="dropdown-item role-filter" href="#" data-role="">역할</a>
                                        <a class="dropdown-item role-filter" href="#" data-role="STUDENT">학생</a>
                                        <a class="dropdown-item role-filter" href="#" data-role="TA">조교</a>
<!--                                        <a class="dropdown-item role-filter" href="#" data-role="PROFESSOR">교수</a>-->
                                    </div>
                                </div>
                            </th>
                            <th scope="col" style="width: 16%">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="permissionDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        권한
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="permissionDropdown">
                                        <a class="dropdown-item permission-filter" href="#" data-permission="">권한</a>
                                        <a class="dropdown-item permission-filter" href="#" data-permission="APPROVED">입장</a>
                                        <a class="dropdown-item permission-filter" href="#" data-permission="UNAPPROVED">미입장</a>
                                        <a class="dropdown-item permission-filter" href="#" data-permission="BLOCKED">거절</a>
                                    </div>
                                </div>
                            </th>
                            <th style="width: 11%"></th>
                        </tr>
                        </thead>
                        <tbody th:if="${not #lists.isEmpty(memberLRooms)}">
                        <tr th:each="member, index : ${memberLRooms}">
                            <td th:text="${index.index + 1}"></td>
                            <td th:text="${member.getClassHubMember().getMember_name()}"></td>
                            <td th:text="${member.getClassHubMember().getUniqueId()}"></td>
                            <td th:text="${member.getClassHubMember().getEmail()}" class="d-none d-sm-table-cell"></td>
                            <td th:text="${#temporals.format(member.regDate, 'yy.MM.dd')}"></td>
                            <td>
                                <input type="hidden" th:name="'id' + ${index.index}" th:value="${member.id}"/>
                                <select class="form-control role-select" th:attr="name='role' + ${index.index}">
                                    <option value="STUDENT" th:selected="${member.role.getRole() == '학생'}">학생</option>
                                    <option value="TA" th:selected="${member.role.getRole() == '조교'}">조교</option>
                                    <option value="PROFESSOR" th:selected="${member.role.getRole() == '교수'}">교수</option>
                                </select>
                            </td>
                            <td>
                                <input type="hidden" th:name="'id' + ${index.index}" th:value="${member.id}"/>
                                <select class="form-control permission-select" th:attr="name='permission' + ${index.index}">
                                    <option value="APPROVED" th:selected="${member.permission.getPermission() == '입장'}">입장</option>
                                    <option value="UNAPPROVED" th:selected="${member.permission.getPermission() == '미입장'}">미입장</option>
                                    <option value="BLOCKED" th:selected="${member.permission.getPermission() == '거절'}">거절</option>
                                </select>
                            </td>
                            <td></td>
                            <!-- 추가될 행 템플릿 -->
                                <tr id="newRowTemplate" style="display: none;">
                                    <td></td>
                                    <td><input type="text" name="newName" placeholder="이름" style="width: 100%"></td>
                                    <td><input type="text" name="newStudentID" placeholder="학번" style="width: 100%"></td>
                                    <td class="d-none d-sm-table-cell"><input type="text" name="newEmail" placeholder="이메일" style="width: 100%"></td>
                                    <td><span id="currentDate"></span></td>
                                    <td>
                                        <select name="newRole" class="form-control role-select">
                                            <option value="STUDENT">학생</option>
                                            <option value="TA">조교</option>
                                            <option value="PROFESSOR">교수</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="newPermission" class="form-control permission-select">
                                            <option value="APPROVED">입장</option>
                                            <option value="UNAPPROVED">미입장</option>
                                            <option value="BLOCKED">거절</option>
                                        </select>
                                    </td>
                                    <td class="text-right btn-group">
                                        <button type="button" class="btn btn-primary ml-0 mr-1" id="addStudent" style="border-radius: 8px; background: #2e59d9; border-color: #2e59d9; font-size: smaller;"> <i class="fa fa-plus" style="font-size: smaller;"></i> </button>
                                        <button class="btn btn-primary m-0" type="button" id="cancelStudent" style=" border-radius: 8px; background: #b7b9cc; border-color: #b7b9cc; font-size: smaller;"> <i class="fa fa-trash" style="font-size: smaller;"></i> </button>
                                    </td>
                                </tr>
                        <!-- jQuery를 사용하여 스크립트 작성 -->
                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        <script>
                            $(document).ready(function(){
                                // '학생 추가' 버튼 클릭 이벤트 핸들링
                                $('#addItemButton').click(function(){
                                    // 템플릿 복사
                                    var newRow = $('#newRowTemplate').clone().removeAttr('id').show();
                                    // 번호 설정 (이 부분은 필요에 따라 조정해야 함)
                                    newRow.find('td:first').text($('table tbody tr').length);
                                    // 행을 테이블에 추가
                                    $('table tbody').append(newRow);
                                });
                                $('table').on('click', '#cancelStudent', function(){
                                    $(this).closest('tr').remove();
                                });
                                // '추가' 버튼 클릭 이벤트 핸들링
                                $('table').on('click', '#addStudent', function(){
                                    // 새로운 학생 데이터 수집
                                    var newName = $(this).closest('tr').find('input[name="newName"]').val();
                                    var newStudentID = $(this).closest('tr').find('input[name="newStudentID"]').val();
                                    var newEmail = $(this).closest('tr').find('input[name="newEmail"]').val();
                                    var newRole = $(this).closest('tr').find('select[name="newRole"]').val();
                                    var newPermission = $(this).closest('tr').find('select[name="newPermission"]').val();
                                    console.log(newName,newStudentID,newEmail,newRole,newPermission);

                                    var currentURL = window.location.href;
                                    // 현재 URL에서 마지막 '/' 다음에 오는 숫자를 lectureRoomId로 추출
                                    var lectureRoomId = currentURL.match(/\/(\d+)$/)[1];
                                    // AJAX를 사용하여 데이터를 서버로 전송
                                    $.ajax({
                                        type: "POST",
                                        url: "/memberlroom/create/one/" + lectureRoomId, // lectureRoomId 변수는 어디서 가져올지 명확하지 않아 가정했습니다.
                                        contentType: "application/json",
                                        dataType: "text",
                                        data: JSON.stringify({
                                            name: newName,
                                            uniqueId: newStudentID,
                                            email: newEmail,
                                            role: newRole,
                                            permission: newPermission
                                        }),
                                        success: function(response) {
                                            if (response === "Success") {
                                                alert('학생이 성공적으로 추가되었습니다.');
                                                window.location.reload();
                                            } else {
                                                alert("현재 강의실에 들어와있는 학생입니다.");
                                                window.location.reload();
                                            }
                                        },
                                        error: function(xhr, status, error) {
                                            console.error(xhr.responseText, error);
                                            alert("error");
                                            window.location.reload();
                                        }
                                    });
                                });
                            });
                            // 현재 날짜를 가져오는 함수
                            function getCurrentDate() {
                                var currentDate = new Date();
                                var year = currentDate.getFullYear().toString().slice(-2);
                                var month = currentDate.getMonth() + 1;
                                var day = currentDate.getDate();
                                // 날짜를 형식에 맞게 조정
                                var formattedDate = year + "." + (month < 10 ? '0' : '') + month + "." + (day < 10 ? '0' : '') + day;
                                return formattedDate;
                            }

                            // 페이지 로드 후 실행되는 함수
                            $(document).ready(function() {
                                // 현재 날짜를 가져와서 해당하는 td에 표시
                                $('#currentDate').text(getCurrentDate());
                            });
                        </script>

                        <script th:inline="javascript">
                                $(document).ready(function() {
                                    $('.role-select').change(function () {
                                        var memberId = $(this).closest('td').find('[name^="id"]').val(); // 수정된 부분
                                        console.log("memberId" + memberId);
                                        var role = $(this).val();
                                        updateMemberLRoomRole(memberId, role);
                                    });
                                })
                                function updateMemberLRoomRole(id, role) {
                                    $.ajax({
                                        type: "POST",
                                        url: "/memberlroom/update/role/" + id,
                                        contentType: "application/json",
                                        data: JSON.stringify({
                                            role: role
                                        }),
                                        success: function(response) {
                                            showSuccessMessage();
                                            console.log(response);
                                        },
                                        error: function(xhr, status, error) {
                                            console.error(xhr.responseText);
                                        }
                                    });
                                }
                                $(document).ready(function() {
                                    $('.permission-select').change(function () {
                                        var memberId = $(this).closest('td').find('[name^="id"]').val(); // 수정된 부분
                                        console.log("memberId" + memberId);
                                        var permission = $(this).val();
                                        updateMemberLRoomPermission(memberId, permission);
                                    });
                                })
                                function updateMemberLRoomPermission(id, permission) {
                                    $.ajax({
                                        type: "POST",
                                        url: "/memberlroom/update/permission/" + id,
                                        contentType: "application/json",
                                        data: JSON.stringify({
                                            permission: permission
                                        }),
                                        success: function(response) {
                                            showSuccessMessage();
                                            console.log(response);
                                        },
                                        error: function(xhr, status, error) {
                                            console.error(xhr.responseText);
                                        }
                                    });
                                }
                                function showSuccessMessage() {
                                    $('#successMessage').fadeIn();
                                    setTimeout(function() {
                                        $('#successMessage').fadeOut();
                                    }, 2000); // 2초 후에 메시지 사라짐
                                }
                            </script>
                        </tr>
                        </tbody>
                        <tbody th:unless="${not #lists.isEmpty(memberLRooms)}">
                            <tr>
                                <td colspan="6" style="text-align: center;">강의실 구성원이 없습니다.</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.container-fluid -->
            </div>
            <div class="row justify-content-center">
                <!-- 수정 성공 메시지 -->
                <div id="successMessage" class="alert alert-success m-1" role="alert" style="display: none; width: 75%">
                    수정이 성공적으로 완료되었습니다.
                </div>
            </div>
        </div>
        </div>
        <!-- End of Main Content -->


        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>ClassHub Walab B1A2 강준혁 이한나 장유진</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">로그아웃하시겠습니까?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">로그아웃 클릭 시 현재 사이트에서 로그아웃됩니다.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
                <a class="btn btn-primary" href="index.html">로그아웃</a>
            </div>
        </div>
    </div>
</div>

<!-- 강의실 나가기 Modal-->
<div class="modal fade" id="lectureRoomOutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">강의실을 나가겠습니까?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">해당 강의실을 나가게 될 경우 강의실 내 정보와 공지를 확인할 수 없습니다.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
                <a class="btn btn-primary" href="/lecture-room">나가기</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/bootstrap/vendor/jquery/jquery.min.js"></script>
<script src="/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/bootstrap/js/sb-admin-2.min.js"></script>

</body>

</html>

