<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Update MemberLRoom</title>
</head>
<body>
<h1>Update MemberLRoom</h1>
<form action="#" th:action="@{/memberlroom/update/{id}(id=${memberLRoom.id})}" th:object="${memberLRoom}" method="post">
  <input type="hidden" th:field="*{id}" />
  <p>Lecture Room Name: <input type="text" th:field="*{lectureRoom}" /></p>
  <p>Member: <input type="text" th:field="*{member}" /></p>
  <p>Role: <input type="text" th:field="*{role}" /></p>
  <p>Permission: <input type="text" th:field="*{permission}" /></p>
  <p><input type="submit" value="Update" /> <a href="/memberlrooms">Cancel</a></p>
</form>
</body>
</html>
