<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <!-- 부트스트랩 CSS 추가 -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <title>게시물 수정 페이지</title>
</head>

<body>
<div class="container mt-5">
  <h1>게시물 수정 페이지</h1>
  <hr>

  <a th:href="@{/post/postList}" class="btn btn-primary">게시물 목록으로 돌아가기</a>

  <hr>

  <form action="#" th:action="@{/post/updateForm/{postId}(postId=${postId})}" th:object="${post}" method="post">
    <div class="form-group">
      <label for="postTitle">게시물 제목:</label>
      <input type="text" id="postTitle" th:field="*{postTitle}" class="form-control">
    </div>

    <div class="form-group">
      <label for="postContent">게시물 내용:</label>
      <!-- textarea로 변경 -->
      <textarea id="postContent" th:field="*{postContent}" class="form-control" rows="5"></textarea>
    </div>
    <div class="form-group">
      <label for="postContent">연결된 태그:</label>
      <p class="card-text"><small class="text-muted" th:text="${post.getTagNames()}"></small></p>
    </div>

    <button type="submit" class="btn btn-success">수정</button>
  </form>

</div>
<!-- 부트스트랩 JS 추가 (부트스트랩 컴포넌트들의 동적 기능을 위해 필요, 예: 모달, 드롭다운 등) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
