<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Tables</title>

    <!-- Custom fonts for this template -->
    <link href="/bootstrap/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/bootstrap/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/bootstrap/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">
<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">
                <div class="modal-body">
                    <form action="#" th:action="@{/post/postModal}" th:object="${headers}" method="post" enctype="multipart/form-data">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>번호</th>
                                <th>찾은 헤더 이름</th>
                                <th>키로 사용</th>
                                <th>점수 여부</th>
                                <th>태그 생성 여부</th>
                                <th>덮어쓰기</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="header, index : ${headers}">
                                <td th:text="${index.index + 1}"></td>
                                <td th:text="${header}"></td>
                                <td>
                                    <label>
                                        <input type="radio" th:id="'keyRadio' + ${index.index}" th:name="'keyId'" th:value="${index.index}"
                                               th:checked="${#strings.contains(header, keyHeaderName)} ? 'checked' : null" th:disabled="!${#strings.contains(header, keyHeaderName)}">
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="checkbox" th:id="'scoreCheckbox' + ${index.index}" th:name="'isScore'" th:value="${index.index}"
                                               th:checked="!${#strings.contains(header, '이름') or #strings.contains(header, '학번') or #strings.contains(header, '이메일')}"
                                               th:disabled="${#strings.contains(header, keyHeaderName)}">
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="checkbox" th:id="'createCheckbox' + ${index.index}" th:name="'isSelected'" th:value="${index.index}"
                                               th:checked="!${#strings.contains(header, '이름') or #strings.contains(header, '학번') or #strings.contains(header, '이메일')}"
                                               th:disabled="${#strings.contains(header, keyHeaderName)}">
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="checkbox" th:id="'duplicateCheckbox' + ${index.index}" th:name="'isCover'" th:value="${index.index}"
                                               th:disabled="${#strings.contains(header, keyHeaderName)}">
                                    </label>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <button type="submit" class="btn btn-primary">저장하기</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

</body>

</html>