<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 부트스트랩 CSS 추가 -->
<head>
    <script th:src="@{/bootstrap/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script th:src="@{/bootstrap/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/bootstrap/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/bootstrap/js/sb-admin-2.min.js}"></script>
    <script th:src="@{/bootstrap/js/demo/datatables-demo.js}"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <meta charset="UTF-8">
    <title>게시물 생성 폼</title>
</head>
<body>
<div class="container mt-5">
    <h1>게시물 생성 페이지</h1>
    <hr>

<!--    <a th:href="@{'/lecture-room/detail/' + ${param.lectureRoomId}}" class="btn btn-primary">게시물 목록으로 돌아가기</a>-->

<!--    <hr>-->

    <form id="postForm" action="#" th:action="@{/post/postForm}" th:object="${post}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="postTitle">게시물 제목:</label>
            <input type="text" id="postTitle" th:field="*{postTitle}" class="form-control">
        </div>

        <div class="form-group">
            <label for="postContent">게시물 내용:</label>
            <!-- textarea로 변경 -->
            <textarea id="postContent" th:field="*{postContent}" class="form-control" rows="5"></textarea>
        </div>

        <br>
        <label for="file">파일 업로드:</label>
        <input type="file" id="file" name="file">
        <br>
        <input type="hidden" id="lRoomId" th:value="${param.lectureRoomId}" name="lRoomId">

        <button id="openModalButton" class="btn btn-info fixed-bottom-right" data-toggle="modal" data-target="#PostHeaderModal">게시물 생성</button>
    </form>
</div>
<div class="modal fade" id="PostHeaderModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>


<script>
    function loadHeadersIntoModal() {
        $.ajax({
            url: '/post/postModal',
            type: 'GET',
            cache: false,
            success: function(response) {
                $('#PostHeaderModal .modal-content').html(response);
                $('#PostHeaderModal').modal('show');
            },
            error: function() {
                alert("Error loading the modal content");
            }
        });
    }

    function submitPostFormAndLoadModal() {
        var formData = new FormData($('#postForm')[0]);

        $.ajax({
            url: '/post/postForm',
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function(response) {
                loadHeadersIntoModal(response);
            },
            error: function() {
                alert("파일 업로드에 실패했습니다.");
            }
        });
    }

    $(document).ready(function() {
        $('#openModalButton').click(function(event) {
            event.preventDefault();
            submitPostFormAndLoadModal();
        });
    });
</script>
</body>
</html>