<form action="#" th:action="@{/post/postHeaderCheckForm}" th:object="${headers}" method="post" enctype="multipart/form-data">
    <h2>생성될 태그 목록</h2>
    <table>
        <thead>
        <tr>
            <th>No.</th>
            <th>찾은 헤더 이름</th>
            <th>키로 사용</th>
            <th>점수 여부</th>
            <th>태그 생성 여부</th>
            <th>중복 허용</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="header, index : ${headers}">
            <td th:text="${index.index + 1}"></td>
            <td th:text="${header}"></td>
            <td>
                <label>
                    <input type="radio" th:id="'keyRadio' + ${index.index}" th:name="'keyId'" th:value="${index.index}">
                </label>
            </td>
            <td>
                <label>
                    <input type="checkbox" th:id="'scoreCheckbox' + ${index.index}" th:name="'isScore'" th:value="${index.index}">
                </label>
            </td>
            <td>
                <label>
                    <input type="checkbox" th:id="'createCheckbox' + ${index.index}" th:name="'isSelected'" th:value="${index.index}">
                </label>
            </td>
            <td>
                <label>
                    <input type="checkbox" th:id="'duplicateCheckbox' + ${index.index}" th:name="'isCover'" th:value="${index.index}">
                </label>
            </td>
        </tr>
        </tbody>
    </table>
    <button type="submit">게시물 등록</button>
</form>