<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>데이터 디테일 목록</title>

</head>
<body>
<h2>데이터 디테일 목록</h2>
<table>
    <thead>
    <tr>
        <th>No.</th>
        <th>학번</th>
        <th>점수 데이터</th>
        <th>커멘트 데이터</th>
        <!--        <th>강의실 아이디</th>-->
    </tr>
    </thead>
    <tbody>
    <tr th:each="dataDetail : ${dataDetails}">
        <td th:text="${dataDetail.getId}"></td>
        <td th:text="${dataDetail.studentNum}"></td>
        <td th:text="${dataDetail.score}"></td>
        <td th:text="${dataDetail.comment}"></td>
<!--        <td><a th:href="@{/data-detail/updateForm/{dataDetailId}(dataDetailId=${dataDetail.getId})}">Update</a></td>-->
<!--        <td><a th:href="@{/data-detail/delete/{dataDetailId}(dataDetailId=${dataDetail.getId})}">Delete</a></td>-->
    </tr>
    </tbody>
</table>
<button onclick="location.href='/data-detail/dataDetailForm'">데이터 디테일 등록</button>
</body>
</html>