<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>파일 데이터 생성 폼</title>
</head>
<body>
<h1>파일 데이터 생성 폼</h1>
<form action="#" th:action="@{/file-data/fileDataForm}" th:object="${fileData}" method="post">
    <label for="fileDataName">파일 이름:</label>
    <input type="text" id="fileDataName" th:field="*{fileDataName}">
    <label for="fileDataType">파일:</label>
    <input type="text" id="fileDataType" th:field="*{fileDataType}">
    <button type="submit">저장</button>
</form>
</body>
</html>