<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>

<body>
<div class="container">
    <h1>회원 정보 수정 페이지</h1>
    <hr>

    <a th:href="@{/file-data/fileDataList}">회원 목록으로 돌아가기</a>

    <hr>

    <form action="#" th:action="@{/file-data/updateForm/{fileDataId}(fileDataId=${fileDataId})}" th:object="${fileData}" method="post">
        <label for="fileDataName">파일 이름:</label>
        <input type="text" id="fileDataName" th:field="*{fileDataName}">
        <br>
        <label for="fileDataType">파일:</label>
        <input type="text" id="fileDataType" th:field="*{fileDataType}">
        <br>
        <button type="submit"> 수정</button>
    </form>

</div>
</body>

</html>
