<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ClassHub</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">-->
<!--    <link-->
<!--            href="/ClassHub/vendor/fontawesome-free/css/all.min.css"-->
<!--            rel="stylesheet"-->
<!--            type="text/css"-->
<!--    />-->

    <!-- Custom fonts for this template-->
    <!--    <link th:href="@{/bootstrap/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css" />-->
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/bootstrap/css/sb-admin-2.min.css}" rel="stylesheet" />
    <!-- 부트스트랩 CSS 파일 링크 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-gradient-primary">
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5" style="width: 86%; margin: auto">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block">
                    <img src="/ClassHub/img/ClassHubLogo.png" />
                </div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h1 text-gray-900 mb-4">CLASSHUB</h1>
                        </div>
                        <form class="user">
                            <div class="text-center">
                                <p class="h6 mb-8" style="color: #5a5a5a; margin-bottom: 100px;">
                                    교수 - 학생 간 효율적인 정보 공유 서비스 플랫폼, ClassHub에 오신 것을 환영합니다.</p>
                            </div>
                            <div class="text-center">
                                <h4 class="h4 text-gray-900">CLASSHUB 서비스 소개</h4>
                                <hr class="mt-0 mb-3" style="border: 0px; height: 2px; background: linear-gradient(to left, red, blue); width: 250px; text-align: center; margin-left: 27%"/>
                            </div>
                            <div class="text-center mb-5">
                                <div class="form-group">
                                    <p class="h6" style="color: #5a5a5a">
                                        ✓ 교수는 강의실 관리, 학생 관리, 학생 데이터 관리를 할
                                        수 있습니다.
                                    </p>
                                </div>
                                <div class="form-group">
                                    <p class="h6" style="color: #5a5a5a">
                                        ✓ 학생은 교수가 업로드한 데이터를 자기 정보만 확인할 수
                                        있습니다.
                                    </p>
                                </div>
                            </div>
                            <hr />
                            <a class="btn btn-user btn-block" style="background: #4e73df; color: white" onclick="login()">
                                히즈넷 로그인
                            </a>
                        </form>
                        <hr />
                        <div class="text-center">
                            <p class="small" style="color: #5a5a5a">
                                한번의 로그인으로 편리한 서비스를 이용해보세요
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/ClassHub/bootstrap/vendor/jquery/jquery.min.js"></script>
<script src="/ClassHub/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/ClassHub/bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/ClassHub/bootstrap/js/sb-admin-2.min.js"></script>
<script>
    function login(){
        console.log("login button click!")
        // location.href = "https://walab.info:8443/HisnetLogin/hisnet-login?returnUrl=https://walab.info:8443/ClassHub/auth/login&accessKey=zKTPkTjArBPgGUEa8Tue";
      location.href = "https://walab.info:8443/HisnetLogin/hisnet-login?returnUrl=http://localhost:8080/ClassHub/auth/login&accessKey=zKTPkTjArBPgGUEa8Tue";
    }
</script>
</body>

</html>
